<md-content  class="md-padding bgTransparent" layout-xs="column" layout="row" layout-align="center" >
	<div flex-xs flex-gt-xs="20" layout="column" class="sidenav-well"> 
		<div class=" sidebar-nav well">
			<ul class="list-unstyled">
				<li><md-button  ng-show="user.role == 'lid'" class="borderBtn" ui-sref="profiel.deelnemer" flex layout='row' layout-align="center">Deelnemer</md-button></li>
				<li><md-button  ng-show="user.role != 'lid'" class="borderBtn" ui-sref="profiel.deelnemer" flex layout='row' layout-align="center">Gegevens</md-button></li>				
				<li><md-button  ng-show="user.role == 'lid'" class="borderBtn" ui-sref="profiel.ouders" flex layout='row' layout-align="center">Ouders</md-button></li>
<!-- 				<li><md-button  class="borderBtn" ui-sref="profiel.wachtwoord" flex layout='row' layout-align="center">Wachtwoord</md-button> </li>
 -->			</ul>
		</div>
	</div>
	<div flex-xs flex-gt-xs="40" layout="column" ui-view>
	</div>
</md-content>



