<div class="col-md-8 col-md-offset-2">
<div class="alert alert-danger" ng-show="errorDetails && user.role == 'lid' ">
	Om u in te kunnen schrijven voor een kamp moet u eerst alle info invullen van de deelnemer en de ouders.
</div>
	<p><br><a ui-sref='kampen'>Terug naar overzicht</a></p>
		<md-card class="" id="card">
			<md-card-title>
				<md-card-title-text>
					<h3  class="md-headline">{{detailkamp.kamp.naam}}</h3>
				</md-card-title-text>
			</md-card-title>	
			<md-card-content>
				<div class="row">
					<div class="col-md-8">
						<p>{{detailkamp.kamp.omschrijving}}</p>
						<img ng-src="{{detailkamp.kamp.sfeerfoto}}" class="img-rounded"  id="widePhoto"/>

					</div>
					<md-divider></md-divider>
					<div class="col-md-4">
						<p> <i class="material-icons align-vert" title="Datum">date_range</i>    {{detailkamp.kamp.startDatum | date:  'dd-MM-yyyy'}} tot {{detailkamp.kamp.eindDatum | date:  'dd-MM-yyyy'}}</p>
						<md-divider ></md-divider>
						<p> <i class="material-icons align-vert" title="Locatie">location_on</i>  {{detailkamp.kamp.locatie}}</p>
						<md-divider ></md-divider>
						<p ><i class="material-icons align-vert" title="Leeftijd">person</i>  {{detailkamp.kamp.minLeeftijd}} tot {{detailkamp.kamp.maxLeeftijd}} jaar</p>	
						<md-divider></md-divider>
						<p ><i class="material-icons align-vert" title="Vervoersmethode">directions_transit</i>  {{detailkamp.kamp.vervoer}} </p>
						<md-divider ></md-divider>
						<p ><i class="material-icons align-vert">credit_card</i>  &#8364  {{detailkamp.kamp.prijs}} </p>
						<md-divider ></md-divider>
						<p ><i class="material-icons align-vert" title="Contact">contact_mail</i>  {{detailkamp.kamp.contact}} </p>
					</div>
				</div>
				<div class="row">
					<div class= "col-md-6">
						<map zoom="14" center="{{detailkamp.kamp.locatie}}">
							<directions
										draggable="true"
										travel-mode="DRIVING"
										origin="current-location"
										panel="directions-panel"
										destination="{{detailkamp.kamp.locatie}}">
							</directions>
						</map>
					</div>
					<div id="directions-panel" class="col-md-4">
					</div>
				</div>
				<div>
				<h3>Aanwezig</h3>
					<md-list class="fixedRows">
						<md-list-item class="md-2-line contact-item" ng-repeat="aanwezige in detailkamp.aanwezigeLijst" >
							<img ng-src="/images/no_avatar.png" class="md-avatar" alt="{{aanwezige.name}}" />
							<div class="md-list-item-text compact">
								<h3>{{aanwezige.firstname}} {{aanwezige.lastname}}</h3>
							</div>
						</md-list-item>
					</md-list>
					<h3>Medewerkers</h3>
					<md-list class="fixedRows">
						<md-list-item class="md-2-line contact-item" ng-repeat="medewerker in detailkamp.medewerkerLijst" >
							<img ng-src="/images/no_avatar.png" class="md-avatar" alt="{{medewerker.name}}" />
							<div class="md-list-item-text compact">
								<h3>{{medewerker.firstname}} {{medewerker.lastname}}</h3>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</md-card-content>	
			<md-card-actions layout="row" layout-align="end center">
				<md-button  class="md-raised md-primary" ui-sref="inschrijven({kampId: detailkamp.kamp.id})" ng-disabled='detailkamp.ingeschreven || detailkamp.volzet || detailkamp.birthDate' ng-hide='detailkamp.ingeschreven || detailkamp.volzet || detailkamp.birthDate || user.role != "lid" || errorDetails'>Inschrijven</md-button>
			</md-card-actions>						
		</md-card>
	</div>