<div class="col-md-8 col-md-offset-2">
		<md-grid-list
		   md-cols="1" 
		   md-cols-sm="2" 
		   md-cols-md="3" 
		   md-cols-gt-md="6" 
		   md-cols="12"
           md-row-height-gt-md="1:1" 
		   md-row-height="4:3"
           md-gutter="8px" 
		   md-gutter-gt-sm="4px" >
			<md-grid-tile ng-repeat="activiteit in activiteiten.activiteitenLijst" 
                  md-rowspan="1"
                  md-colspan="2"
                  md-colspan-sm="1"
                  md-colspan-xs="1"
				  md-rowspan-md="2"
				  md-colspan-md="3"
				  md-colspan-lg="2">
				<md-card class = "overflow" id="wideHighPhoto">
					<md-card-title ng-click="activiteiten.detailAct(activiteit.id)">
						<md-card-title-text>
							<span class="md-headline">{{activiteit.naam}}</span>
								<p>{{activiteit.heleDag}} </p>
							<p>{{activiteit.locatie }},  {{activiteit.beginUur | date: "dd-MM-yyyy"}}</p>
						</md-card-title-text>
						<md-card-title-media>
						</md-card-title-media>
					</md-card-title>
					<md-card-actions layout="row" layout-align="end center">
						<md-button ng-show="user.role == 'beheerder' && user.isAuth" ng-click="activiteiten.remove(activiteit.id)"  class="md-icon-button"><i title="Verwijderen"  class="material-icons align-vert">delete</i></md-button>
						<md-button ng-show="user.role == 'beheerder' && user.isAuth" ui-sref="editActiviteit({activiteitId: activiteit.id})" class="md-icon-button"><i title="Aanpassen" class="material-icons align-vert">mode_edit</i></md-button>
					</md-card-actions>
				</md-card>
			</md-grid-tile>
		</md-grid-list>
	<md-button  ng-show="user.role == 'beheerder' && user.isAuth" class="md-raised md-primary" ui-sref="nieuwActiviteit">Nieuwe activiteit</md-button>
</div>





