<p>This is the activite</div>
<div class="col-md-8">

<md-content>
    <md-list>
    <md-list-item class="md-3-line" ng-click="null"><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>Teambuilding</h3>
          <p>Hele dag </p>
          <p>Merelbeke 24/06/2016 </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null"><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>Teambuilding p2</h3>
          <p>Hele dag </p>
          <p>Merelbeke 24/06/2016 </p>
          </div>
        </md-list-item>
    <md-list-item class="md-3-line" ng-click="null"><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>Teambuilding p2</h3>
          <p>Hele dag </p>
          <p>Merelbeke 24/06/2016 </p>
          </div>
        </md-list-item>        
    </md-list>
  </md-content>
  <md-button class="md-raised">Nieuwe activiteit</md-button><!-- enkel voor beheerders-->
</div>
</div>
<div class="col-md-8">

<md-content>
    <md-list>
    <md-list-item class="md-3-line" ng-click="null"><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>Teambuilding</h3>
          <p>Hele dag </p>
          <p>Merelbeke 24/06/2016 </p>
          </div>
        </md-list-item>
        <md-list-item class="md-3-line" ng-click="null"><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>Teambuilding p2</h3>
          <p>Hele dag </p>
          <p>Merelbeke 24/06/2016 </p>
          </div>
        </md-list-item>
    <md-list-item class="md-3-line" ng-click="null"><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>Teambuilding p2</h3>
          <p>Hele dag </p>
          <p>Merelbeke 24/06/2016 </p>
          </div>
        </md-list-item>        
    </md-list>
  </md-content>
  <md-button class="md-raised">Nieuwe activiteit</md-button><!-- enkel voor beheerders-->
</div>
