<div class="col-md-8 col-md-offset-2">
	<p><br><a ui-sref='activiteiten'>Terug naar overzicht</a></p>
		<md-card style='background-image:url("/images/plezier.jpg"); background-size: 100% 100%;'>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{kamp.titel}}</span>
					</md-card-title-text>
				</md-card-title>	
				<md-card-content>
					<h2>{{activiteiten.activiteit.naam}}</h2>
					<p>Datum: {{activiteiten.activiteit.datum | date}} </p>
					<p>locatie: {{activiteiten.activiteit.locatie}}</p>
					<div class="row">
						<div class= "col-md-6">
							<map zoom="14" center="{{activiteiten.activiteit.locatie}}">
								<directions
										draggable="true"
										travel-mode="DRIVING"
										origin="current-location"
										panel="directions-panel"
										destination="{{activiteiten.activiteit.locatie}}">
								</directions>
							</map>
						</div>
						<div id="directions-panel" class="col-md-4" style="height: 300px; overflow: auto;background-color: white">
						</div>
					</div>
					<h3>Aanwezig</h3>
					<p>{{activiteiten.aanwezig}} aanwezig <br><a href="www.google.com">Bekijk alle deelnemers</a></p><!-- uit database halen & routing-->
					</md-card-content>	
					<md-card-actions layout="row" layout-align="end center">
						<md-button  class="md-raised" ng-click='activiteiten.zetAanwezig()' ng-hide='activiteiten.alAanwezig'>Aanwezig</md-button>
					</md-card-actions>						
				</md-card>
			</div>
			