<div class="col-md-2">
</div>
<div class="col-md-8" id="background">
	<p><br><a href="www.google.com">Terug naar overzicht</a></p>
	<h2>Teambuilding</h2>
	  <img ng-src="/images/plezier.jpg" class="fotokamp" alt="foto" />	
	  <p>Datum: 16 juli 2017 </p>
      <p>locatie: Desselgem</p>
      <h3>Beschrijving</h3>
      <p>Dit is een klein tekstje met wat uitleg en info over het kamp, eventueel met een klein verslagje ofzo erbij Lorem ipsum dolor sit amet, te sea commodo luptatum. Eam natum scriptorem te, mei viderer aliquam pertinax eu. Duo utinam iuvaret eu. Ne vis munere eleifend, eu consulatu reprimique cum. </p>
      <h3>Aanwezig</h3>
	  <p>17 aanwezig <br><a href="www.google.com">Bekijk alle deelnemers</a></p><!-- uit database halen & routing-->
	  <h3>Misschien aanwezig</h3>
	  <p>17 misschien aanwezig <br><a href="www.google.com">Bekijk alle deelnemers</a></p><!-- uit database halen & routing-->
	  <md-button class="md-raised">Aanwezig</md-button> <md-button class="md-raised">Misschien aanwezig</md-button>
</div>
