<div class="col-md-3 col-md-offset-2" ng-show="!historiek.leeg" >
	<md-content class=='transparentBack'>
		<md-list class=='padMarNull'>
			<md-list-item  class="md-3-line contact-list-item md-whiteframe-6dp" ng-click="historiek.selectKamp(kamp)" ng-repeat="kamp in historiek.KampenLijst" ><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
				<img ng-src="{{kamp.sfeerfoto}}" class="md-avatar" />
				<div class="md-list-item-text align-vert" layout="column">
					<h3 class="leftHeader">{{kamp.naam}}</h3>
					<h4><i class="material-icons align-vert" title="Locatie">location_on</i>   {{kamp.adres.gemeente}}<h4>
					<h4><i class="material-icons align-vert" title="Datum">date_range</i>  {{kamp.startDatum | date:  'dd-MM-yyyy'}} </h4>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>

<div class="col-md-5 md-whiteframe-6dp" id="background" ng-show="!historiek.leeg" >
	<h2 class=='padMarNull'>{{historiek.detailkamp.naam}}</h2>
	<img ng-src="{{historiek.detailkamp.sfeerfoto}}" class="img-rounded"  id="widePhoto"/>
	<div class="row">
		<div class="col-md-8">
			<p>{{historiek.detailkamp.omschrijving}}</p>
		</div>
		<md-divider></md-divider>
		<div class="col-md-4">
			<p ><i class="material-icons align-vert" title="Datum">date_range</i>  {{historiek.detailkamp.startDatum | date:  'dd-MM-yyyy'}} tot {{historiek.detailkamp.eindDatum | date:  'dd-MM-yyyy'}}</p>
			<md-divider ></md-divider>
			<p > <i class="material-icons align-vert" title="Locatie">location_on</i>  {{historiek.detailkamp.locatie}}</p>
			<md-divider ></md-divider>
			<p><i class="material-icons align-vert" title="Leeftijd">person</i> {{historiek.detailkamp.minLeeftijd}} tot {{historiek.detailkamp.maxLeeftijd}} jaar</p>	
			<md-divider></md-divider>
			<p ><i class="material-icons align-vert" title="Vervoersmethode">directions_transit</i>  {{historiek.detailkamp.vervoer}} </p>
			<md-divider ></md-divider>
			<p><i class="material-icons align-vert">credit_card</i>  &#8364 {{historiek.detailkamp.prijs}} </p>
			<md-divider ></md-divider>
			<p ><i class="material-icons align-vert" title="Contact">contact_mail</i> {{historiek.detailkamp.contact}} </p>
		</div>
	</div>
	<div class="row" id="historiekRow">
		<div class= "col-md-6">
			<map zoom="14" center="{{historiek.detailkamp.locatie}}">
				<directions
					draggable="true"
					travel-mode="DRIVING"
					origin="current-location"
					panel="directions-panel"
					destination="{{historiek.detailkamp.locatie}}">
				</directions>
			</map>
		</div>
		<div id="directions-panel" class="col-md-6" id="#directions-panel">
		</div>
	</div>
</div>

		<div class="col-md-4 col-md-offset-4" id="background" ng-show="historiek.leeg">
			<h3> Aan de slag!  </h3>
			<h3> Je bent nog nooit op kamp geweest ...   </h3>

			<h3><md-button class="md-primary md-raised align-horiz" ui-sref="kampen">Kies snel een kamp</md-button></h3>
		</div>