<div class="col-md-8 col-md-offset-2" id="background">
	<legend>Nieuwe Inschrijving</legend>
	<form class="form-horizontal" name="form" ng-submit="inschrijving.inschrijving()" role="form">
		<fieldset>

			<div class="alert alert-danger" ng-show="inschrijving.error">
    {{reg.error}}
			</div>

			<div id="betalend">
				<p> {{inschrijving.betalend.naam}} </p>
			</div>

			<div id="contact">
				<p> {{inschrijving.betalend.naam}} </p>
			</div>



			<md-input-container class="md-block">
				<label>Extra info</label>
				<input required type="text" name="extraInfo" ng-model="inschrijving.inschrijving.extraInfo" id="inputExtraInfo" />
				<div ng-messages="form.extraInfo.$error" ng-show="form.extraInfo.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>

		</fieldset>
		<div class="col-md-10 row-button">
			<div class="buttons-right">
				<a ng-href="#/kampen">Annuleren</a>  
				<md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Schrijf in </md-button>
			</div>
		</div>
	</form>

</div>
