<div class="col-md-2">
</div>
<div class="col-md-3" id="background">
  <h2>Inschrijvingen</h2>
<md-content>
    <md-list>
    <md-list-item class="md-1-line" ng-click="null"><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>lil doe</h3>
          </div>
        </md-list-item>
    </md-list>
  </md-content>
</div>
<div class="col-md-5" id="background">
  <h2>Details</h2>
  <h3>Gegevens lid</h3>
  <p>naam : lil doe</p>
  <p>adres : straatstraat 33 8888 Vichte</p>
  <!-- staat niet echt vermeld welke gegevens allemaal dus steek gewoon al de gegevens dat een kind heeft erin-->
  <h3>Kampgegevens</h3>
  <p>naam : smurf's up</p>
  <p>adres : straatstraat 33 8888 Vichte</p>
  <!-- staat niet echt vermeld welke gegevens allemaal dus steek gewoon al de gegevens dat een kamp heeft erin-->
  <h3>Status inschrijving</h3>
  <p>nog niet ingeschreven</p>
  <md-button class="md-raised">Accepteer inschrijving</md-button>
</div>