<div class="col-md-2">
</div>
<div class="col-md-3">

<md-content>
    <md-list>
    <md-list-item class="md-2-line" ng-click="null"><!--ng-repeat="item in messages" Voor alle kampen uit de database te halen-->
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>Smurf's up</h3>
          <h4>Merelbeke 24/06/2001 </h4>
          </div>
        </md-list-item>
    </md-list>
  </md-content>
</div>
<div class="col-md-5" id="background">
<h2>Smurf's up</h2>
<br>
<p>Dit is een klein tekstje met wat uitleg en info over het kamp, eventueel met een klein verslagje ofzo erbij Lorem ipsum dolor sit amet, te sea commodo luptatum. Eam natum scriptorem te, mei viderer aliquam pertinax eu. Duo utinam iuvaret eu. Ne vis munere eleifend, eu consulatu reprimique cum. </p><!--uit database halen-->
<br>
<h3>Deelnemers</h3>
<p>17 deelnemers <br><a href="www.google.com">Bekijk alle deelnemers</a></p><!-- uit database halen & routing-->
<br>
<h3>Foto's</h3>
<div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 3px;" ng-cloak>
<md-whiteframe class="md-whiteframe-11dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
  </md-whiteframe>
<p></p>
  <md-whiteframe class="md-whiteframe-11dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
  </md-whiteframe>
<p></p>
  <md-whiteframe class="md-whiteframe-11dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
  </md-whiteframe>
 
  <md-whiteframe class="md-whiteframe-11dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
  </md-whiteframe>
  <p></p>
  <md-whiteframe class="md-whiteframe-11dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
  </md-whiteframe>
  <p></p>
  <md-whiteframe class="md-whiteframe-11dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
    <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
  </md-whiteframe>

</div><!-- uit database halen & moet nog clickable worden om te vergroten-->

<p><br><a href="www.google.com">Bekijk alle foto's</a></p><!-- uit database halen & routing-->
</div>