<div class="col-md-2">
</div>
<div class="col-md-8" id="background">
    <h2>Nieuwe activiteit</h2>
    <h3>Naam</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Naam</label>
        <input ng-model="user.firstNsqdame">
    </md-input-container>
    <h3>Omschrijving</h3> 
    <md-input-container class="md-block" style="width:1000px;" flex-gt-sm>
        <label>Omschrijving</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>periode:</h3> vertrek <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker> terug <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
    <h3>Locatie</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Locatie</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>Vertrek</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Vertrek</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>Formule</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Formule</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>prijs</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>prijs</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>Kortingen</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Kortingen</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>Inbegrepen in de prijs</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Inbegrepen in de prijs</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>Doelgroep</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Doelgroep</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>Maximum deelnemers</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Maximum deelnemers</label>
        <input ng-model="user.firstName">
    </md-input-container>
    <h3>Contactgegevens</h3> 
    <md-input-container class="md-block" style="width:250px;" flex-gt-sm>
        <label>Contactgegevens</label>
        <input ng-model="user.firstName">
    </md-input-container>
<!-- moet nog foto's kunnen uploaden-->
    <br>
    <md-button class="md-raised" >Kamp aanmaken</md-button>

</div>