<div class="col-md-2">
</div>
<div class="col-md-8" id="background">
    <h2>Kampen</h2>
    <p>geboortedatum: <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker></p>
    <p> maximumprijs: <input flex type="number"></p>
    <p>periode: <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker> en <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker></p>

<div class="col-md-8" style="margin:10px; background-color:rgb(225,225,225);" >
  <div class="col-md-5" >
      <h3>Smurf's up</h3>
      <p>periode: 16 juli 2017 tot 24 juli 2017</p>
      <p>locatie: Desselgem</p>
      <p>prijs: 135 &#8364</p>
      <p>leeftijd: 3-7 jaar</p>
      <md-button class="md-raised">Medewerker toewijzen</md-button><!-- enkel voor beheerder-->
</div>
<div class="col-md-6">
      <img ng-src="/images/plezier.jpg" class="fotokamp" alt="foto" />
</div>
</div>
<div class="col-md-8" style="margin:10px;">
  <div class="col-md-5" >
      <h3>Smurf's up</h3>
      <p>periode: 16 juli 2017 tot 24 juli 2017</p>
      <p>locatie: Desselgem</p>
      <p>prijs: 135 &#8364</p>
      <p>leeftijd: 3-7 jaar</p>
      <md-button class="md-raised">Medewerker toewijzen</md-button><!-- enkel voor beheerder-->
</div>
<div class="col-md-6">
      <img ng-src="/images/plezier.jpg" class="fotokamp" alt="foto" />
</div>
</div>
</div>
