<div class="col-md-8 col-md-offset-2">
	<p><br><a ui-sref='kampen'>Terug naar overzicht</a></p>
		<md-card class="redTextWhite" style="background-image : url({{detailkamp.kamp.sfeerfoto}}); background-size:100% 100%;">
			<md-card-title>
				<md-card-title-text>
					<h3  class="whiteText" class="md-headline">{{detailkamp.kamp.naam}}</h3>
				</md-card-title-text>
			</md-card-title>	
			<md-card-content>
				<div class="row">
					<div class="col-md-8">
						<p class="whiteText">{{detailkamp.kamp.omschrijving}}</p>

					</div>
					<md-divider></md-divider>
					<div class="col-md-4">
						<p class="whiteText"> Vertrek : {{detailkamp.kamp.startDatum | date}}</p>
						<p class="whiteText"> Terug : {{detailkamp.kamp.eindDatum | date}}</p>
						<md-divider ></md-divider>
						<p class="whiteText"> Locatie: {{detailkamp.kamp.locatie}}</p>
						<md-divider ></md-divider>
						<p class="whiteText">Van : {{detailkamp.kamp.minLeeftijd}} tot {{detailkamp.kamp.maxLeeftijd}}</p>	
						<md-divider></md-divider>
						<p class="whiteText">{{detailkamp.kamp.vervoer}} </p>
						<md-divider ></md-divider>
						<p class="whiteText">Prijs:{{detailkamp.kamp.prijs}} &#8364</p>
						<md-divider ></md-divider>
						<p class="whiteText">Contact:{{detailkamp.kamp.contact}} </p>
					</div>
				</div>
				<div class="row">
					<div class= "col-md-6">
						<map zoom="14" center="{{detailkamp.kamp.locatie}}">
							<directions
										draggable="true"
										travel-mode="DRIVING"
										origin="current-location"
										panel="directions-panel"
										destination="{{detailkamp.kamp.locatie}}">
							</directions>
						</map>
					</div>
					<div id="directions-panel" class="col-md-4" style="height: 300px; overflow: auto;background-color: white">
					</div>
				</div>
			</md-card-content>	
			<md-card-actions layout="row" layout-align="end center">
				<md-button  class="md-raised md-primary" ui-sref="inschrijven({kampId: detailkamp.kamp.id})" ng-disabled='detailkamp.ingeschreven || detailkamp.volzet' ng-hide='detailkamp.ingeschreven || detailkamp.volzet'>Inschrijven</md-button>
			</md-card-actions>						
		</md-card>
	</div>