<div class="col-md-2">
</div>
<div class="col-md-8" id="background">
    <h2>Nieuwe activiteit</h2>
    <form class="form-horizontal" name="form" ng-submit="registreer.registreer()" role="form">
        <fieldset>
    <div class="alert alert-danger" ng-show="registreer.error">
    {{registreer.error}}
    </div>
    <md-input-container class="md-block">
    <label>Naam</label>
    <input required type="text" name="naam" ng-model="nieuwKamp.kamp.naam" id="inputNaam" />
    <div ng-messages="form.naam.$error" ng-show="form.naam.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Omschrijving</label>
    <input required type="text" name="omschrijving" ng-model="nieuwKamp.kamp.omschrijving" id="inputOmschrijving" />
    <div ng-messages="form.omschrijving.$error" ng-show="form.omschrijving.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-datepicker
     required
        name="startDatum" 
        ng-model="nieuwKamp.kamp.startDatum" 
        md-placeholder="StartDatum" 
        md-min-date="profiel.dateToday"
        md-open-on-focus>
    </md-datepicker>
    <div ng-messages="form.startDatum.$error" ng-show="form.startDatum.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>

    <md-datepicker
     required
        name="eindDatum" 
        ng-model="nieuwKamp.kamp.eindDatum" 
        md-placeholder="EindDatum" 
        md-min-date="profiel.dateToday"
        md-open-on-focus>
    </md-datepicker>
    <div ng-messages="form.eindDatum.$error" ng-show="form.eindDatum.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>

    <md-input-container class="md-block">
    <label>Vervoer</label>
    <input required type="text" name="vervoer" ng-model="nieuwKamp.kamp.vervoer" id="inputVervoer" />
    <div ng-messages="form.vervoer.$error" ng-show="form.vervoer.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Formule</label>
    <input required type="text" name="formule" ng-model="nieuwKamp.kamp.formule" id="inputFormule" />
    <div ng-messages="form.formule.$error" ng-show="form.formule.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Basisprijs</label>
    <input required type="text" name="basisPrijs" ng-model="nieuwKamp.kamp.basisPrijs" id="inputBasisPrijs" />
    <div ng-messages="form.basisPrijs.$error" ng-show="form.basisPrijs.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Bondprijs</label>
    <input required type="text" name="bondPrijs" ng-model="nieuwKamp.kamp.bondPrijs" id="inputBondPrijs" />
    <div ng-messages="form.bondPrijs.$error" ng-show="form.bondPrijs.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>
   
    <md-input-container class="md-block">
    <label>Kortingen</label>
    <input required type="text" name="kortingen" ng-model="nieuwKamp.kamp.kortingen" id="inputKortingen" />
    <div ng-messages="form.kortingen.$error" ng-show="form.kortingen.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Inbegrepen in prijs</label>
    <input required type="text" name="inbegrepenInPrijs" ng-model="nieuwKamp.kamp.inbegrepenInPrijs" id="inputInbegrepenInPrijs" />
    <div ng-messages="form.inbegrepenInPrijs.$error" ng-show="form.inbegrepenInPrijs.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Maximum leeftijd</label>
    <input required type="text" name="maxLeeftijd" ng-model="nieuwKamp.kamp.maxLeeftijd" id="inputMaxLeeftijd" />
    <div ng-messages="form.maxLeeftijd.$error" ng-show="form.maxLeeftijd.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Minimum leeftijd</label>
    <input required type="text" name="minLeeftijd" ng-model="nieuwKamp.kamp.minLeeftijd" id="inputMinLeeftijd" />
    <div ng-messages="form.minLeeftijd.$error" ng-show="form.minLeeftijd.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Maximum Deelnemers</label>
    <input required type="text" name="maxDeelnemers" ng-model="nieuwKamp.kamp.maxDeelnemers" id="inputMaxDeelnemers" />
    <div ng-messages="form.maxDeelnemers.$error" ng-show="form.maxDeelnemers.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Contact</label>
    <input required type="text" name="contact" ng-model="nieuwKamp.kamp.contact" id="inputContact" />
    <div ng-messages="form.contact.$error" ng-show="form.contact.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Sfeerfoto</label>
    <input required type="text" name="sfeerfoto" ng-model="nieuwKamp.kamp.sfeerfoto" id="inputSfeerFoto" />
    <div ng-messages="form.sfeerfoto.$error" ng-show="form.sfeerfoto.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Straat</label>
    <input required type="text" name="straat" ng-model="nieuwKamp.kamp.adres.straat" id="inputStraat" />
    <div ng-messages="form.adres.straat.$error" ng-show="form.adres.straat.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Huisnummer</label>
    <input required type="text" name="huisnummer" ng-model="nieuwKamp.kamp.adres.huisnummer" id="inputHuisNummer" />
    <div ng-messages="form.adres.huisnummer.$error" ng-show="form.adres.huisnummer.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Bus</label>
    <input required type="text" name="bus" ng-model="nieuwKamp.kamp.adres.bus" id="inputBus" />
    <div ng-messages="form.adres.bus.$error" ng-show="form.adres.bus.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Gemeente</label>
    <input required type="text" name="gemeente" ng-model="nieuwKamp.kamp.adres.gemeente" id="inputGemeente" />
    <div ng-messages="form.adres.gemeente.$error" ng-show="form.adres.gemeente.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>

    <md-input-container class="md-block">
    <label>Postcode</label>
    <input required type="text" name="postcode" ng-model="nieuwKamp.kamp.adres.postcode" id="inputPostcode" />
    <div ng-messages="form.adres.postcode.$error" ng-show="form.adres.postcode.$touched">
        <div ng-messages-include="messages.html"></div>
    </div>
    </md-input-container>
    
    </fieldset>
        <div class="col-md-10 row-button">
            <div class="buttons-right">
                <a ng-href="#/registreer">Annuleren</a>  
                <md-button class="md-raised md-primary" type="submit" ng-diabled="form.$invalid">Registreer </md-button>
            </div>
        </div>
    </form>

</div>