<div class="col-md-2">
</div>
<div class="col-md-8" id="background">
	<p><br><a href="www.google.com">Terug naar overzicht</a></p>
	<h2>Smurf's Up</h2>
	<img ng-src="/images/plezier.jpg" class="fotokamp" alt="foto" />
	
	  <p><br>periode: 16 juli 2017 tot 24 juli 2017</p>
      <p>locatie: Desselgem</p>
      <p>prijs: 135 &#8364</p>
      <p>leeftijd: 3-7 jaar</p>
      <br>
      <p>Dit is een klein tekstje met wat uitleg en info over het kamp, eventueel met een klein verslagje ofzo erbij Lorem ipsum dolor sit amet, te sea commodo luptatum. Eam natum scriptorem te, mei viderer aliquam pertinax eu. Duo utinam iuvaret eu. Ne vis munere eleifend, eu consulatu reprimique cum. </p>
</div>