<div class="card">
	<form class="form-horizontal">
  <fieldset>
    <legend class="col-xs-offset-1 row-top-white">Inloggen</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-md-2 col-xs-2 control-label">Email</label>

      <div class="col-md-8 col-xs-8">
        <input class="form-control" id="inputEmail" placeholder="Email" type="email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-xs-2 control-label">Password</label>

      <div class="col-xs-8">
        <input class="form-control" id="inputPassword" placeholder="Password" type="password">

      </div>
    </div>
  </fieldset>
  
  <div class="col-md-10">
	<a type="button" class="btn btn-default">Registreren</a>  
	<button  type="submit" class="btn btn-raised btn-primary">Primary</button>
  </div>

</form>
</div>
