<div class="col-md-2">
</div>
<div class="col-md-8" id="background">
	<md-content>
    <md-list>
    <md-list-item class="md-3-line" ng-click="null" ng-repeat="medewerker in medewerkers.medewerkerLijst">
          <img ng-src="/images/plezier.jpg" class="md-avatar" alt="foto" />
          <div class="md-list-item-text" layout="column">
          <h3>{{medewerker.username}}</h3>
          <p>{{medewerker.firstname}} {{medewerker.lastname}}</p>
          <p>{{medewerker.email}}</p>
          </div>
        </md-list-item>
    </md-list>
  </md-content>
</div>