<div class="col-md-8 col-md-offset-2" style='background-color: transparent;'>
	<md-content style='background-color: transparent;'>
		<md-list class="fixedRows" >
			<md-list-item class="md-2-line contact-item contact-list-item" ng-repeat="medewerker in medewerkers.medewerkerLijst" >
				<img ng-src="/images/no_avatar.png" class="md-avatar" alt="{{medewerker.name}}" />
				<div class="md-list-item-text compact">
					<h3>{{medewerker.firstname}} {{medewerker.lastname}}</h3>
					<p>{{medewerker.email}}</p>
	<!-- 				<p>{{medewerker.username}}</p> -->
				</div>
			</md-list-item>
		</md-list>
  </md-content>
</div>