<div class="well">
	<form class="form-horizontal" name="profiel.form" ng-submit="login.logIn()" role="form">

		<fieldset>
			<legend>Gegevens Ouder 1 </legend>

			<md-input-container class="md-block">
				<label>Naam</label>
				<input required type="text" name="naam" ng-model="profiel.deelnemer.naam" id="inputNaam" />
				<div ng-messages="profiel.form.naam.$error" ng-show="profiel.form.naam.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>

			<md-input-container class="md-block">
				<label>Voornaam</label>
				<input required type="text" name="voornaam" ng-model="profiel.user.voornaam" id="inputVoornaam" />
				<div ng-messages="profiel.form.voornaam.$error" ng-show="profiel.form.voornaam.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>

			<md-input-container class="md-block">
				<label>Email</label>
				<input required type="email" name="email" ng-model="profiel.user.email" id="inputEmail" />
				<div ng-messages="profiel.form.email.$error" ng-show="profiel.form.email.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>
			
			<md-input-container class="md-block">
				<label>Rijksregisternummer</label>
				<input required type="email" name="email" ng-model="profiel.user.email" id="inputEmail" />
				<div ng-messages="profiel.form.email.$error" ng-show="profiel.form.email.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>

			<md-datepicker name="dob" 
			ng-model="profiel.user.dob" 
			md-placeholder="Geboortedatum" 
			md-max-date="profiel.dateToday"
			md-open-on-focus>
			</md-datepicker>
			<div ng-messages="profiel.form.straat.$error" ng-show="profiel.form.straat.$touched">
				<div ng-messages-include="messages.html"></div>
			</div>

			<md-input-container class="md-block">
				<label>Straat + huisnummer</label>
				<input type="text" name="straat" ng-model="profiel.user.straat" id="inputStraat" />
				<div ng-messages="profiel.form.straat.$error" ng-show="profiel.form.straat.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>

			<md-input-container class="md-block">
				<label>Stad/Gemeente + postcode</label>
				<input type="text" name="stad" ng-model="profiel.user.stad" id="inputStad" />
				<div ng-messages="profiel.form.stad.$error" ng-show="profiel.form.stad.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>
			
			<md-input-container class="md-block">
				<label>Telefoonnummer</label>
				<input required type="text" name="voornaam" ng-model="profiel.user.voornaam" id="inputVoornaam" />
				<div ng-messages="profiel.form.voornaam.$error" ng-show="profiel.form.voornaam.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>
			
			<legend>Gegevens ouder 2</legend>
			
				<md-input-container class="md-block">
					<label>Naam</label>
					<input required type="text" name="naam" ng-model="profiel.deelnemer.naam" id="inputNaam" />
					<div ng-messages="profiel.form.naam.$error" ng-show="profiel.form.naam.$touched">
						<div ng-messages-include="messages.html"></div>
					</div>
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Voornaam</label>
					<input required type="text" name="voornaam" ng-model="profiel.user.voornaam" id="inputVoornaam" />
					<div ng-messages="profiel.form.voornaam.$error" ng-show="profiel.form.voornaam.$touched">
						<div ng-messages-include="messages.html"></div>
					</div>
				</md-input-container>
				
			<md-input-container class="md-block">
				<label>Rijksregisternummer</label>
				<input required type="email" name="email" ng-model="profiel.user.email" id="inputEmail" />
				<div ng-messages="profiel.form.email.$error" ng-show="profiel.form.email.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>
				
				<md-input-container class="md-block">
					<label>Email</label>
					<input required type="email" name="email" ng-model="profiel.user.email" id="inputEmail" />
					<div ng-messages="profiel.form.email.$error" ng-show="profiel.form.email.$touched">
						<div ng-messages-include="messages.html"></div>
					</div>
				</md-input-container>
				
				<md-datepicker name="dob" 
				ng-model="profiel.user.dob" 
				md-placeholder="Geboortedatum" 
				md-max-date="profiel.dateToday"
				md-open-on-focus>
				</md-datepicker>
				<div ng-messages="profiel.form.straat.$error" ng-show="profiel.form.straat.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
				
				<md-input-container class="md-block">
					<label>Straat + huisnummer</label>
					<input type="text" name="straat" ng-model="profiel.user.straat" id="inputStraat" />
					<div ng-messages="profiel.form.straat.$error" ng-show="profiel.form.straat.$touched">
						<div ng-messages-include="messages.html"></div>
					</div>
				</md-input-container>
				
				<md-input-container class="md-block">
					<label>Stad/Gemeente + postcode</label>
					<input type="text" name="stad" ng-model="profiel.user.stad" id="inputStad" />
					<div ng-messages="profiel.form.stad.$error" ng-show="profiel.form.stad.$touched">
						<div ng-messages-include="messages.html"></div>
					</div>
				</md-input-container>
				
			<md-input-container class="md-block">
				<label>Telefoonnummer</label>
				<input required type="text" name="voornaam" ng-model="profiel.user.voornaam" id="inputVoornaam" />
				<div ng-messages="profiel.form.voornaam.$error" ng-show="profiel.form.voornaam.$touched">
					<div ng-messages-include="messages.html"></div>
				</div>
			</md-input-container>

		<div class="col-md-10 row-button">
			<div class="buttons-right">
				<md-button class="md-raised md-primary" type="submit" ng-hide="profiel.form.$pristine" ng-disabled="profiel.form.$invalid || profiel.form.$pristine">Opslaan </md-button>					
			</div>
		</div>
	</form>
</div>