<md-content  class="md-padding" layout-xs="column" layout="row" layout-align="center" style="background-color:'none'">
	<div flex-xs flex-gt-xs="30" layout="column"> 
		<div class=" sidebar-nav">
			<ul class="list-unstyled">
				<li><md-button  ng-show="user.role == 'lid'" class="borderBtn" ui-sref="profiel.deelnemer" flex layout='row' layout-align="center">Deelnemer</md-button></li>
				<li><md-button  ng-show="user.role != 'lid'" class="borderBtn" ui-sref="profiel.deelnemer" flex layout='row' layout-align="center">Gegevens</md-button></li>				
				<li><md-button  ng-show="user.role == 'lid'" class="borderBtn" ui-sref="profiel.ouders" flex layout='row' layout-align="center">Contactpersonen</md-button></li>
<!-- 				<li><md-button  class="borderBtn" ui-sref="profiel.wachtwoord" flex layout='row' layout-align="center">Wachtwoord</md-button> </li>
 -->			</ul>
		</div>
	</div>
	<div flex-xs flex-gt-xs="70" layout="column" ui-view>
	</div>
</md-content>



