<md-content class="md-padding" layout-xs="column" layout="row" layout-align="center">
	<div flex-xs flex-gt-xs="30" layout="column"> 
		<div class="well sidebar-nav">
			<img ng-src="/images/logoJoetz.png" class="md-card-image" alt="Profile Picture"/>
			<ul class="list-unstyled">
				<li><md-button  class="borderBtn" ui-sref="profiel.deelnemer" flex layout='row' layout-align="center">Deelnemer</md-button></li>
				<li><md-button  class="borderBtn" ui-sref="profiel.ouders" flex layout='row' layout-align="center">Ouders</md-button></li>
				<li><md-button  class="borderBtn" ui-sref="profiel.contactpersoon" flex layout='row' layout-align="center">Contactpersoon</md-button></li>
				<li><md-button  class="borderBtn" ui-sref="profiel.extrainfo" flex layout='row' layout-align="center">Extra Informatie</md-button></li>
				<li><md-button  class="borderBtn" ui-sref="profiel.wachtwoord" flex layout='row' layout-align="center">Wachtwoord</md-button> </li>
			</ul>
		</div>
	</div>
	<div flex-xs flex-gt-xs="70" layout="column" ui-view>
	</div>
</md-content>



